body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}

.categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.card-content {
    flex-grow: 1;
}

img,
iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

iframe {
    max-width: 100%;
    width: 600px;
    height: 350px;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.go-back-btn {
    border: none;
    background: none;
    background-image: url('./assets/left-btn.png');
    position: fixed;
    left: 20px;
    top: 50%;
    width: 60px;
    height: 60px;
    opacity: 0.4;
    cursor: pointer;
    z-index: 3;
}